{% extends 'layout.html' %}

{% block main %}
<div class="container-fluid m-0 px-2" style="max-width:96vw">
  <div class="row justify-content-center my-2">
    <div class="col" style="width:420px;min-height:97vh;">
      <button class="btn p-0 mb-1" type="button" data-toggle="collapse" data-target="#collapse_settings" aria-expanded="false" aria-controls="collapse_settings">
        <i class="fas fa-cog text-secondary" style="font-size:23px"></i>
      </button>
      <div id="settings" style="max-width:500px;">
        <div class="card border-0">
          <div id="collapse_settings" class="collapse" aria-labelledby="set_settings" data-parent="#settings">
            <div class="card-body p-0">
              <div class="d-flex flex-row justify-content-between align-items-baseline mb-1">
                <p class="pr-2 m-0">Mode</p>
                <div class="btn-group btn-group-toggle">
                  <button id="mode_0" class="btn btn-secondary py-1" onclick="update_mode(0);">Auto</button>
                  <button id="mode_1" class="btn btn-secondary py-1" onclick="update_mode(1);">Dark</button>
                  <button id="mode_2" class="btn btn-secondary py-1" onclick="update_mode(2);">Light</button>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-baseline mb-1">
                <p class="pr-2 m-0">Update</p>
                <div class="btn-group btn-group-toggle">
                  <button id="update_frequency_1" class="btn btn-secondary py-1" onclick="update_frequency(1);">Fast</button>
                  <button id="update_frequency_2" class="btn btn-secondary py-1" onclick="update_frequency(2);">Medium</button>
                  <button id="update_frequency_3" class="btn btn-secondary py-1" onclick="update_frequency(3);">Slow</button>
                  <button id="update_frequency_0" class="btn btn-secondary py-1" onclick="update_frequency(0);">Never</button>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-baseline mb-1">
                <span class="pr-2 m-0">Filter scores</span>
                <div class="btn-group btn-group-toggle">
                  <button id="filter_score_0" class="btn btn-secondary py-1" type="button" onclick="filter_score(0);">All</button>
                  <button id="filter_score_20" class="btn btn-secondary py-1" type="button" onclick="filter_score(20);">20+</button>
                  <button id="filter_score_40" class="btn btn-warning py-1" type="button" onclick="filter_score(40);">40+</button>
                  <button id="filter_score_60" class="btn btn-danger py-1" type="button" onclick="filter_score(60);">60+</button>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-between align-items-baseline mb-1">
                <span class="pr-2 m-0">Languages</span>
                <div class="btn-group btn-group-toggle">
                  <button id="filter_lang_1" class="btn btn-success py-1 px-2" type="button" onclick="filter_langs(1);">En</button>
                  <button id="filter_lang_2" class="btn btn-success py-1 px-2" type="button" onclick="filter_langs(2);">Ru</button>
                  <button id="filter_lang_3" class="btn btn-success py-1 px-2" type="button" onclick="filter_langs(3);">De</button>
                  <button id="filter_lang_4" class="btn btn-success py-1 px-2" type="button" onclick="filter_langs(4);">Es</button>
                  <button id="filter_lang_5" class="btn btn-success py-1 px-2" type="button" onclick="filter_langs(5);">It</button>
                  <button id="filter_lang_6" class="btn btn-success py-1 px-2" type="button" onclick="filter_langs(6);">Hi</button>
                  <button id="filter_lang_7" class="btn btn-success py-1 px-2" type="button" onclick="filter_langs(7);">Fr</button>
                  <button id="filter_lang_8" class="btn btn-success py-1 px-2" type="button" onclick="filter_langs(8);">Tr</button>
                  <button id="filter_lang_0" class="btn btn-success py-1 px-2" type="button" onclick="filter_langs(0);">Spam</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tournament_settings" class="mb-1" style="max-width:500px;">
        <div class="card border-0">
          <div class="d-flex flex-row justify-content-between align-items-baseline p-0" id="set_tournaments" style="box-shadow: none;">
            <p class="pr-2 m-0">Chats</p>
            <div class="btn-group" role="group">
              <button id="tab_tournaments" class="btn btn-secondary px-2 py-1" type="button" data-toggle="collapse" data-target="#collapse_tournaments" aria-expanded="false" aria-controls="collapse_tournaments" onclick="check_collapse('tournaments');">Monitored</button>
              <button id="tab_started" class="btn btn-secondary px-2 py-1" type="button" data-toggle="collapse" data-target="#collapse_started" aria-expanded="false" aria-controls="collapse_started" onclick="check_collapse('started');">Ongoing</button>
              <button id="tab_created" class="btn btn-secondary px-2 py-1" type="button" data-toggle="collapse" data-target="#collapse_created" aria-expanded="false" aria-controls="collapse_created" onclick="check_collapse('created');">Created</button>
              <button id="tab_finished" class="btn btn-secondary px-2 py-1" type="button" data-toggle="collapse" data-target="#collapse_finished" aria-expanded="false" aria-controls="collapse_finished" onclick="check_collapse('finished');">Finished</button>
            </div>
          </div>
          <div style="max-height:50vh;overflow-y:auto;">
            <div id="collapse_tournaments" class="collapse" aria-labelledby="set_tournaments" data-parent="#tournament_settings">
              <div class="card-body px-2">
                <div class="d-flex flex-row">
                  <label for="tournament_link" class="m-0 mr-1">Link:</label>
                  <input id="tournament_link" type="text" class="flex-grow-1 py-0 mr-1">
                  <button class="btn btn-primary flex-grow-0 py-0" onclick="add_tournament()">Add</button>
                </div>
                <fieldset id="tournaments_tournaments">
                </fieldset>
              </div>
            </div>
            <div id="collapse_started" class="collapse" aria-labelledby="set_tournaments" data-parent="#tournament_settings">
              <div class="card-body px-2">
                <fieldset id="tournaments_started">
                </fieldset>
              </div>
            </div>
            <div id="collapse_created" class="collapse" aria-labelledby="set_tournaments" data-parent="#tournament_settings">
              <div class="card-body px-2">
                <fieldset id="tournaments_created">
                </fieldset>
              </div>
            </div>
            <div id="collapse_finished" class="collapse" aria-labelledby="set_tournaments" data-parent="#tournament_settings">
              <div class="card-body px-2">
                <fieldset id="tournaments_finished">
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row align-content-start flex-wrap mt-3">
        <div class="col align-content-start px-1" style="min-width:350px;max-width:500px;">
          <div id="selection_header" class="d-none user-select-none justify-content-between py-1" style="background-color:rgba(128,128,128,0.2);">
            <span>
              <button id="btn_filter_msgs" class="btn btn-outline-success align-baseline py-0 px-1 mr-1" type="button" onclick="filter_toggle()">Process</button>
              <b>Messages</b> in <span id="selected_tournament">Tournament</span>:
            </span>
            <button class="btn btn-primary align-baseline flex-grow-0 py-0" onclick="select_message(event,'--')">Close</button>
          </div>
          <div id="selected_messages" class="d-none" style="max-height:65vh;overflow-y:auto;">
          </div>
          <div id="filtered_section" class="d-none">
            <span id="notes_title" class="d-flex justify-content-between px-1 mt-2">
              <span>Messages of <b id="selected_user">the player of interest</b>:</span>
              <button class="btn btn-secondary align-baseline px-1 py-0" onclick="add_users_all_messages()">Add all</button>
            </span>
            <div id="filtered_messages" class="mb-3" style="max-height:60vh;overflow-y:auto;">
            </div>
            <textarea id="notes" class="form-control mt-1" rows="3" oninput='update_notes()' readonly></textarea>
            <div id="btn_notes" class="d-none user-select-none justify-content-between px-1 py-1">
              <span id="notes_username" class="align-self-center mr-2"></span>
              <button class="btn btn-secondary nav-item dropdown-toggle align-baseline flex-grow-1 mr-1 px-1 py-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">Ban</button>
              <span class="dropdown-menu" style="">
                <button class="dropdown-item btn-primary" onclick="custom_timeout(1);">Public Shaming</button>
                <button class="dropdown-item btn-primary" onclick="custom_timeout(2);">Offensive Language</button>
                <button class="dropdown-item btn-primary" onclick="custom_timeout(3);">Spamming</button>
                <button class="dropdown-item btn-primary" onclick="custom_timeout(4);">Inappropriate Behaviour</button>
              </span>
              <button class="btn btn-warning align-baseline flex-grow-1 px-1 py-1 mr-1" onclick="send_note()">Add note</button>
              <button class="btn btn-secondary align-baseline flex-grow-1 px-1 py-1 mr-1" onclick="copyTextToClipboard($('#notes').val())">Copy</button>
              <button class="btn btn-secondary align-baseline flex-grow-1 px-1 py-1" onclick="clear_notes()">Clear</button>
            </div>
          </div>
        </div>
        <div class="col align-content-start mb-3 px-1">
          <div id="user-info" class="col d-none align-content-start mr-2 px-0" style="min-width:350px;max-width:500px;">
          </div>
          <div id="mod-notes" class="col d-none flex-wrap align-content-start px-0" style="min-width:350px;max-width:500px;">
          </div>
          <div id="mod-log" class="col d-none align-content-start px-0 mb-2" style="min-width:350px;max-width:500px;">
          </div>
          <div id="user-profile" class="col d-none align-content-start px-0" style="min-width:350px;max-width:500px;">
          </div>
        </div>
      </div>
    </div>
    <div id="chat_downloading" class="col d-flex justify-content-center mt-5">
      <div class="spinner-border spinner-blue-only text-secondary" role="status"></div>
      <span class="ml-3 text-secondary">Downloading chats&hellip;</span>
    </div>
    <div id="clean_messages" class="col d-none justify-content-center mt-5">
      <h5 class="text-success">Everything is clean as of <span id="chat_clean">now</span>.<br>Thank you for your great work! <i class="far fa-heart"></i></h5>
    </div>
    <div id="dubious_messages" class="col">
      <h6 class="text-center mb-1">Dubious messages</h6>
      <div id="chat_reports" class="d-flex align-content-start flex-wrap"></div>
    </div>
    <div id="multiline_messages" class="col">
      <h6 class="text-center mb-1">Multi-line messages</h6>
      <div id="multiline_chat_reports" class="d-flex align-content-start flex-wrap">
      </div>
    </div>
  </div>
</div>
{#<div class="container-fluid px-0">
  <iframe id="embed_frame" class="container-fluid px-0" style="min-width:60vw; min-height:96vh;" src="https://lichess.org/mod/public-chat" allowtransparency="true" frameborder="0"></iframe>
</div>#}
{% endblock %}

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
  <script>
  $(document).ready(function() {
    update_mode({{view.mode|safe}}, false);
    if (window.matchMedia)
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
        if ($('#mode_0').is('.active'))
          update_mode(event.matches ? -1 : -2);
      });
    $("#tournament_link").on('keypress', tournament_entered);
    update_frequency({{update_frequency}}, false);
    filter_score(0, false);
    reset_langs();
    $("#tournament_settings").css("display","none");
    $("#dubious_messages").css("display","none");
    $("#multiline_messages").css("display","none");
    $("#loadOverlay").css("display","none");
    $("#mainOverlay").css("display","block");
    clear_notes();
    refresh(0);
  });
  var notes_user = "";
  var notes_msgs = [];
  var state_tournaments = 0;
  var state_reports = 0;
  var hidden_msgs = new Set();
  var deleted_mmsgs = new Set();
  var last_update = new Date().getTime();
  var is_reviewed = false;
  var update_periods = [1, 5, 25, 60];
  var update_period = update_periods[{{update_frequency}}];
  function tournament_entered(e) {
    if (!e) e = window.event;
    var keyCode = e.code || e.key;
    if (keyCode == 'Enter') {
      add_tournament();
    }
  }
  function is_clickable() {
    return (new Date().getTime()) >= last_update + 1000;
  }
  const sleeping = ms => new Promise(res => setTimeout(res, ms));
  async function refresh(to_wait=1000) {
    if (to_wait > 0)
      await sleeping(to_wait);
    if ($('#update_frequency_0').is('.active')) {
      refresh();
    }
    else {
      await $.ajax({url: `/chat/update/${state_tournaments}`, type: "post"})
        .done(function(data, textStatus, jqXHR) {
          $.ajax({url: `/chat/process/${state_reports}`, type: "post"})
            .done(function(data_chats, textStatus, jqXHR) {
              if ($('#update_frequency_0').is('.active')) {
                refresh();
              }
              else {
                is_new = update_data(data_chats);
                if (is_new) {
                  var new_last_update = new Date().getTime();
                  var delay = update_period * 1000 + last_update - new_last_update;
                  last_update = new_last_update;
                  refresh(delay);
                }
                else {
                  refresh();
                }
              }
            });
          if (data['state_tournaments'] != 0)
            $("#tournament_settings").css("display","block");
          update_tournament_list(data);
        });
    }
  }
  function update_data(data_chats) {
    if (data_chats['state_reports'] == state_reports)
      return false;
    state_reports = data_chats['state_reports'];
    if (data_chats["reports"] || data_chats["multiline-reports"]) {
      $("#dubious_messages").css("display","block");
      $("#multiline_messages").css("display","block");
      $("#clean_messages").removeClass("d-flex").addClass("d-none");
      is_reviewed = true;
      $("#chat_downloading").removeClass("d-flex").addClass("d-none");
    } else {
      $("#dubious_messages").css("display","none");
      $("#multiline_messages").css("display","none");
      if (is_reviewed)
        $("#clean_messages").removeClass("d-none").addClass("d-flex");
    }
    $('#chat_reports').html(data_chats["reports"]);
    $('#multiline_chat_reports').html(data_chats["multiline-reports"]);
    $('#chat_clean').html(data_chats["time"]);
    if (!$('#filter_score_0').is('.active')) {
      const filter_values = [20, 40, 60];
      for (const i of filter_values) {
        if ($(`#filter_score_${i}`).is('.active'))
          filter_score(i);
      }
    }
    filter_langs();
    set_selection(data_chats);
    filter_messages();
    for (var msg_id of hidden_msgs) {
      $(`#msgA${msg_id}`).css("display","none");
      $(`#msgB${msg_id}`).css("display","none");
    }
    for (var msg_id of deleted_mmsgs)
      $(`#mmsg${msg_id}`).css("display","none");
    deleted_mmsgs.clear();
    return true;
  }
  function update_tournament_list(data) {
    if (data['state_tournaments'] == state_tournaments)
      return;
    state_tournaments = data['state_tournaments'];
    $('#tournaments_tournaments').html(data['tournaments']);
    $('#tournaments_created').html(data['created']);
    $('#tournaments_started').html(data['started']);
    $('#tournaments_finished').html(data['finished']);
  }
  function hide_msg(msg_id, flag) {
    if (!msg_id || msg_id.length <= 1 || msg_id == "--" || msg_id.startsWith('T'))
      return;
    if (flag)
      hidden_msgs.add(`${msg_id.substring(1)}`);
    else
      hidden_msgs.delete(`${msg_id.substring(1)}`);
  }
  function set_ok(msg_id) {
    //if (!is_clickable()) return;
    if (!msg_id.startsWith('C') && !msg_id.startsWith('F'))
      $(`#msg${msg_id}`).css("display","none");
    hide_msg(msg_id, true);
    $.ajax({url: `/chat/set_msg_ok/${msg_id}`, type: "post"})
        .done(function(data_chats, textStatus, jqXHR) {
          hide_msg(msg_id, false);
          update_data(data_chats);
        });
  }
  function timeout(msg_id, reason=0) {
    if (reason == 0 && !is_clickable()) return;
    if (!msg_id.startsWith('C') && !msg_id.startsWith('F') && !msg_id.startsWith('B'))
      $(`#msg${msg_id}`).css("display","none");
    hide_msg(msg_id, true);
    $.ajax({url: `/chat/timeout/${msg_id}/${reason}`, type: "post"})
      .done(function(data_chats, textStatus, jqXHR) {
        hide_msg(msg_id, false);
        update_data(data_chats);
      });
  }
  function timeout_multi(msg_id, reason=0) {
    if (reason == 0 && !is_clickable()) return;
    $.ajax({url: `/chat/timeout_multi/${msg_id}/${reason}`, type: "post"})
      .done(function(data_chats, textStatus, jqXHR) {
        update_data(data_chats);
      });
  }
  function set_multi_ok(msg_id) {
    if (!is_clickable()) return;
    $(`#mmsg${msg_id}`).css("display","none");
    deleted_mmsgs.add(msg_id);
    $.ajax({url: `/chat/set_multi_msg_ok/${msg_id}`, type: "post"});
  }
  function warn(username, subject) {
    if (!is_clickable()) return;
    $('#warn-ban').css("display","none");
    $.ajax({url: `/chat/warn/${username}/${subject}`, type: "post"})
      .done(function(data_chats, textStatus, jqXHR) {
        update_data(data_chats);
      });
  }
  function clear_errors(tourn_id) {
    $.ajax({url: `/chat/clear_errors/${tourn_id}`, type: "post"})
      .done(function(data_chats, textStatus, jqXHR) {
        update_data(data_chats);
      });
  }
  function update_mode(val, to_request=true) {
    if (val == 0)
      val = (!window.matchMedia || window.matchMedia('(prefers-color-scheme: dark)').matches) ? -1 : -2;
    for (var i = 0; i < 3; i++) {
      if (val == i || (val < 0 && i == 0))
        $(`#mode_${i}`).addClass("active");
      else
        $(`#mode_${i}`).removeClass("active");
    }
    if (to_request && val != "{{view.mode}}") {
      setCookie('theme_mode', val);
      $.ajax({url: `/set_mode/${val}`, type: "post"});
      location.reload();
    }
  }
  function update_frequency(val, to_request=true) {
    for (var i = 0; i < 4; i++) {
      if (val == i)
        $(`#update_frequency_${i}`).addClass("active");
      else
        $(`#update_frequency_${i}`).removeClass("active");
    }
    update_period = update_periods[val];{#
    if (to_request)
      $.ajax({url: `/chat/set_update/${val}`, type: "post"});#}
  }
  function set_selection(data_chats) {
    $('#selected_messages').html(data_chats["selected-messages"]);
    $('#filtered_messages').html(data_chats["filtered-messages"]);
    $('#selected_tournament').html(data_chats["selected-tournament"]);
    var username = data_chats["selected-user"];
    update_user_button(username);
    user_link = username ? `<a class="text-success" href="https://lichess.org/@/${username.toLowerCase()}?mod" target="_blank">${username}</a>` : "the user";
    $('#selected_user').html(user_link);
    if (data_chats["selected-tournament"]) {
      $('#selection_header').removeClass("d-none").addClass("d-flex");
    } else {
      $('#selection_header').removeClass("d-flex").addClass("d-none");
    }
    update_user_info(data_chats);
    update_mod_notes(data_chats);
    update_mod_log(data_chats);
  }
  function update_user_info(data) {
    $('#user-info').html(data["user-info"]);
    if (data["user-info"])
      $('#user-info').removeClass("d-none").addClass("d-block");
    else
      $('#user-info').removeClass("d-block").addClass("d-none");
    $('#user-profile').html(data["user-profile"]);
    if (data["user-profile"])
      $('#user-profile').removeClass("d-none").addClass("d-block");
    else
      $('#user-profile').removeClass("d-block").addClass("d-none");
  }
  function update_mod_notes(data) {
    $('#mod-notes').html(data["mod-notes"]);
    if (data["mod-notes"])
      $('#mod-notes').removeClass("d-none").addClass("d-flex");
    else
      $('#mod-notes').removeClass("d-flex").addClass("d-none");
  }
  function update_mod_log(data) {
    $('#mod-log').html(data["mod-log"]);
    if (data["mod-log"])
      $('#mod-log').removeClass("d-none").addClass("d-flex");
    else
      $('#mod-log').removeClass("d-flex").addClass("d-none");
  }
  function add_to_notes(username, msg_id) {
    var selection = $(`#msg${msg_id}`).attr("data-selection");
    if (selection && !notes_msgs.includes(msg_id) && username != "lichess") {
      var notes = $('#notes').val();
      if (notes)
        $('#notes').val((username != notes_user) ? selection : `${notes}\n${selection}`);
      else
        $('#notes').val(selection);
      if (username == notes_user)
        notes_msgs.push(msg_id);
      else
        notes_msgs = [msg_id];
      notes_user = username;
      update_username();
      update_notes();
    }
  }
  function select_message(event, msg_id) {
    event = event || window.event;
    if (event && (event.target.tagName == "BUTTON" || event.target.tagName == "A") && msg_id != "--" && !msg_id.startsWith('T'))
      return;
    username = (msg_id == "--" || msg_id.startsWith('T') || $(`#msg${msg_id} a`).length == 0) ? "" : $(`#msg${msg_id} a`)[0].text;
    update_user_button(username);
    if (notes_user != username) {
      notes_msgs = [];
      $('#notes').val('');
      update_notes();
    }
    if (msg_id.startsWith('F'))
      add_to_notes(username, msg_id);
    $.ajax({url: `/chat/select_message/${msg_id}`, type: "post"})
      .done(function(data, textStatus, jqXHR) {
        set_selection(data);
        filter_messages(!msg_id.startsWith('F'));
        var active_element = $('#selected_messages .selectee-center');
        if (active_element.length) {
          active_element[0].scrollIntoView({block: "center"});
          window.scrollTo(0, 0);
        }
      });
  }
  function update_username() {
    $('#notes_username').html(notes_user ? `<a class="text-success" href="https://lichess.org/@/${notes_user.toLowerCase()}?notes" target="_blank">${notes_user}</a>:` : "");
  }
  function update_user_button(username) {
    num_messages = $('#filtered_messages .selectee').length;
    if (username && username.length > 10)
      username = `${username.substring(0, 9)}&hellip;`
    var text = username ? username : "Process";
    if (num_messages > 0)
      text = `<b>${num_messages}</b>: ${text}`;
    $('#btn_filter_msgs').html(text);
  }
  function add_users_all_messages() {
    $('#filtered_messages .selectee').each(function(i, el) {
      if (el.id.startsWith('msgF') && $(`#${el.id} a`).length)
        add_to_notes($(`#${el.id} a`)[0].text, el.id.substring(3));
    });
  }
  function prevent_click(event) {
    event = event || window.event;
    event.cancelBubble = true;
    if (event.stopPropagation)
      event.stopPropagation();
  }
  function filter_score(val, to_filter=true) {
    const filter_values = [0, 20, 40, 60];
    for (const i of filter_values) {
      if (val == i)
        $(`#filter_score_${i}`).addClass("active");
      else
        $(`#filter_score_${i}`).removeClass("active");
    }
    if (to_filter) {
      $("div").filter(function() {
        return parseInt($(this).attr("data-mscore")) < val;
      }).css("display","none");
      $("div").filter(function() {
        return parseInt($(this).attr("data-mscore")) >= val;
      }).css("display","block");
    }
  }
  function filter_langs(val=-1) {
    if (val >= 0) {
      if ($(`#filter_lang_${val}`).is('.btn-success'))
        $(`#filter_lang_${val}`).removeClass("btn-success").addClass("btn-secondary");
      else
        $(`#filter_lang_${val}`).removeClass("btn-secondary").addClass("btn-success");
    }
    var flags = 0;
    for (var i = 0; i < 9; i++)
      if ($(`#filter_lang_${i}`).is('.btn-success'))
        flags |= 2 ** i;
    if (val >= 0)
      setCookie('chat_langs', flags);
    $("div").filter(function() {
      return $(this).is("[data-langs]") && (parseInt($(this).attr("data-langs")) & flags) == 0;
    }).css("display","none");
    $("div").filter(function() {
      return $(this).is("[data-langs]") && (parseInt($(this).attr("data-langs")) & flags);
    }).css("display","block");
  }
  function reset_langs() {
    var flags = getCookie("chat_langs");
    if (flags == null)
      return;
    for (var i = 0; i < 9; i++)
      if ((flags & (2 ** i)) == 0)
        $(`#filter_lang_${i}`).removeClass("btn-success").addClass("btn-secondary");
  }
  function filter_messages(to_reset=false) {
    if (to_reset)
      $('#btn_filter_msgs').removeClass("btn-success").addClass("btn-outline-success");
    if ($('#btn_filter_msgs').hasClass("btn-success")) {
      $('#filtered_section').removeClass("d-none").addClass("d-block");
      $('#selected_messages').removeClass("d-block").addClass("d-none");
      var active_element = $('#filtered_section .selectee-center');
      if (active_element.length) {
        active_element[0].scrollIntoView({block: "center"});
        window.scrollTo(0, 0);
      }
    } else {
      $('#filtered_section').removeClass("d-block").addClass("d-none");
      $('#selected_messages').removeClass("d-none").addClass("d-block");
    }
  }
  function filter_toggle() {
    if ($('#btn_filter_msgs').hasClass("btn-success"))
      $('#btn_filter_msgs').removeClass("btn-success").addClass("btn-outline-success");
    else
      $('#btn_filter_msgs').removeClass("btn-outline-success").addClass("btn-success");
    filter_messages();
  }
  function check_collapse(val) {
    const collapse = ["tournaments", "started", "created", "finished"];
    for (const i of collapse) {
      if (i == val && !$(`#collapse_${val}`).hasClass("show"))
        $(`#tab_${i}`).addClass("active");
      else
        $(`#tab_${i}`).removeClass("active");
    }
  }
  function set_tournament(tourn_id) {
    checked = $(`#t_${tourn_id}`).is(':checked') ? 1 : 0;
    $.ajax({url: `/chat/set_tournament/${tourn_id}/${checked}`, type: "post"});
  }
  function set_tournament_group(group) {
    checked = $(`#t_${group}`).is(':checked') ? 1 : 0;
    $.ajax({url: `/chat/set_tournament_group/${group}/${checked}`, type: "post"})
      .done(function(data, textStatus, jqXHR) {
        update_tournament_list(data);
      });
  }
  function delete_tournament(tourn_id) {
    $(`#tt_${tourn_id}`).closest('div').remove();
    $.ajax({url: `/chat/delete_tournament/${tourn_id}`, type: "post"})
      .done(function(data, textStatus, jqXHR) {
        update_tournament_list(data);
      });
  }
  function add_tournament() {
    var tournament_link = $("#tournament_link")[0].value;
    $("#tournament_link")[0].value = "";
    $.ajax({
      url: "/chat/add_tournament",
      type: "post",
      data: {page: tournament_link}})
        .done(function(data, textStatus, jqXHR) {
          update_tournament_list(data);
          update_data(data);
        });
  }
  function update_notes() {
    $("#notes")[0].style.height = "50px";
    $("#notes")[0].style.height = (Math.max(40, $("#notes")[0].scrollHeight + 5)) + "px";
    if ($('#notes').val())
      $("#btn_notes").removeClass("d-none").addClass("d-flex");
    else
      $("#btn_notes").removeClass("d-flex").addClass("d-none");
  }
  function clear_notes() {
    $('#notes').val('');
    notes_user = "";
    notes_msgs = [];
    update_username();
    update_notes();
  }
  function send_note() {
    $.ajax({
      url: `/chat/send_note`,
      type: "post",
      data: {note: $('#notes').val(), user: notes_user}})
        .done(function(data, textStatus, jqXHR) {
          if (data["mod-notes"]) {
            if (notes_user && data["selected-user"] == notes_user) {
              update_mod_notes(data);
              update_user_info(data);
            }
            clear_notes();
          }
        });
  }
  function custom_timeout(reason) {
    $.ajax({
      url: `/chat/custom_timeout`,
      type: "post",
      data: {reason: reason, ids: notes_msgs}})
        .done(function(data_chats, textStatus, jqXHR) {
          update_data(data_chats);
        });
  }
  </script>
{% endblock %}